main {
  display: flex;
  flex-direction: column;

  height: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: end;

  height: 100vh;

  padding: 2rem;

  box-sizing: border-box;

  color: #fff;
  //background-image: url("/assets/images/screen/background-home.jpg");
  background-image: url("/assets/images/screen/home.jpg");
  background-position: center;
  background-size: cover;

  .subtitle {
    display: flex;
    justify-content: end;
    height: 60%;
  }

  h1 {
    color: #8AA399;
    width: 50%;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px #000;
  }

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;

    height: 12rem;
    width: 12rem;

    line-height: 1.7;
    font-size: 2rem;
    font-family: 'Cookie-Regular', sans-serif;
    text-align: center;

    background-color: #fff;
    color: #8AA399;
    border-radius: 50%;
  }
}
