@font-face {
  font-family: "Josefin-Regular";
  src: url("../assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin-Bold";
  src: url("../assets/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin-BoldItalic";
  src: url("../assets/fonts/Josefin_Sans/static/JosefinSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin-Italic";
  src: url("../assets/fonts/Josefin_Sans/static/JosefinSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin-Medium";
  src: url("../assets/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin-MediumItalic";
  src: url("../assets/fonts/Josefin_Sans/static/JosefinSans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin-SemiBold";
  src: url("../assets/fonts/Josefin_Sans/static/JosefinSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin-SemiBoldItalic";
  src: url("../assets/fonts/Josefin_Sans/static/JosefinSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin-Thin";
  src: url("../assets/fonts/Josefin_Sans/static/JosefinSans-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Cookie-Regular";
  src: url("../assets/fonts/Cookie/Cookie-Regular.ttf") format("truetype");
}
