// https://fonts.google.com/specimen/Josefin+Sans?preview.text=cooking&preview.text_type=custom

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Josefin-BoldItalic', 'Josefin-MediumItalic', sans-serif;
}
