<section>
  <h3>Restez informé !</h3>
  <p>Je vous tiendrai au courant dès que la cuisson sera parfaite.</p>
  <div class="form" *ngIf="!isRegistered">
    <input type="text" id="user_name" name="userName" placeholder="Votre prénom" #userName>
    <input type="text" id="user_mail" name="userEmail" placeholder="Votre adresse mail" #userEmail>
    <div class="invalid-email" *ngIf="invalidMail || invalidName">
      <p>Attention !</p>
      <p *ngIf="invalidMail">L'adresse email n'est pas valide 😱</p>
      <p *ngIf="invalidName">Le pseudo n'est pas renseigné 🙀</p>
    </div>
    <button class="submit" (click)="subscribeCustomer()">S'abonner !</button>
  </div>
  <div class="registered" *ngIf="isRegistered">
    <div class="valid-logo-wrapper"></div>
    <p>Merci pour ta confiance !<br>A très vite.</p>
  </div>
</section>
<!--
  Ajouter instagram link
  -->
